
        #escreve-aqui{
          display: flex;
          gap: 14;
          flex-wrap: wrap;
        }
        .card {
            width: 300px;
            padding: 10px;
            background: gray;
            margin: 10px;
        }